.heading1{
    padding-top: 100px;
    margin: 0 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 90px;
}

.heading1 h1{
    color: #FFF;
    font-family: KoHo;
    font-size: 5.5vh;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; 
}

.heading1 h4{
    color: #D9ECFF;
    font-family: Inter;
    font-size: 2.7vh;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    width: 60vh;
}


.img0{
    width: 52px;
height: 61px;
flex-shrink: 0;
}

.img2{
    width: 32px;
height: 32px;

}

.img3{
 width: 32px;
height: 32px;
flex-shrink: 0;
background-color: transparent;
padding:  2px 0 0 4px ;
}


.expand1{
    display: flex;
    align-items: center;
    gap: 1.5vh;
}

.expand{
    width: 42px;
height: 40px;
flex-shrink: 0;
border-radius: 40px;
background: #364C65;
}


.mainsection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 110px;
    padding-bottom: 5.5vh;
}

.card{
    width: 390px;
height: 360px;
flex-shrink: 0;
border-radius: 30px;
border: 2px solid #3D4E64;
background: #364C65;
}

.button{
    width: 242px;
    height: 55px;
    flex-shrink: 0;  
    border-radius: 38px;
border: 3px solid #FFF;
display: flex;
align-items: center;
justify-content: center;
}

.button h2{
    color: #FFF;
font-family: Poppins;
font-size: 2.7vh;
font-style: normal;
font-weight: 500;
line-height: normal;
background-color: transparent;

}


.explore{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh;
    gap: 40vh;
    margin-bottom: 10vh;
}

.img4{
 background-color: transparent;   
}

.img5{
    background-color: transparent;   
   }