.main{
    width: 100%;
    height: 549px;
    display: flex;
    flex-direction: row;

}

.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 13vh 0 0 13vh;
    gap: 3vh;
    
}

.left h2{
    background-color: transparent;
    color: #D9ECFF;
font-family: Poppins;
font-size: 3.5vh;
font-style: normal;
font-weight: 500;
line-height: 45px; /* 150% */
}

.left h1{
    background-color: transparent;
    color: #FFF;
font-family: KoHo;
font-size: 7vh;
font-style: normal;
font-weight: 700;
line-height: 80px; /* 114.286% */
width: 50vh;
height: 149px;
flex-shrink: 0;
}

.right{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 10vh;  
}

button{
    border-radius: 30px;
    background: #FAB437; 
    width: 222px;
height: 60px;
flex-shrink: 0;
}

h6{
    color: #364C65;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
background-color: transparent;
}

.img8{
    display: flex;
    width: 314px;
    height: 403px;
    padding: 0px 0.012px 0px 0.006px;
    flex-direction: column;
    justify-content: baseline;
    margin-top: 240px;
    margin-left: -102px;
    align-items: center;
    flex-shrink: 0;
}



.right h2{
    justify-self: center;
    color: #E1EFFF;
    font-family: Poppins;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 127.273% */
    background-color: transparent; 
    padding: 2px;
}

.right h4{
    color: #E1EFFF;
font-family: Poppins;
font-size: 1.9vh;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
background-color: transparent;
}

hr{
    margin-bottom: 5vh;
}