.img9 {
    align-self: center;
    justify-self: center;
    margin-top: -190px;
    margin-left: 450px;
}



.img9{
    width: 650px;
    height: 1200px;
    transform: rotate(90deg);
    flex-shrink: 0; 
    border-radius: 35px;
}


.main2 h2{
    color: #FFF;
    font-family: KoHo;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; 
    background-color: transparent;
}


.main2 h4{
    color: #E1EFFF;
    width: 156vh;
text-align: center;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 40px; 
background-color: transparent;
}


.main2 h3{
    color: #FFF;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 28px;
background-color: transparent;
}

.main2{
    display: flex;
    flex-direction: column;
    gap:5vh;
    align-items: center;
    background-color: transparent;
}